.top {
  @include top();

  &__left {
    position: absolute;
    left: 30px;
    color: #000080;
    cursor: pointer;
  }

  .logout {
    @include logout();
  }    

  &__right {
    @include right-module ();
  }

}

.search{
  height: 100%;
  background-color: $main-color;
  padding-top: 110px;
  position: relative;
  min-height: calc(100vh - 110px);

  #search-topics {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 60%;
    border: 1px solid gray;
    font-size: 25px;
    font-weight: bold;
    
  }

  #search-result {
    margin: 0 auto;
    height: 100%;
    width: 60%;
    overflow: scroll;

    .topics {
      display: block;
      text-decoration: none;
      font-size: 20px;
      cursor: pointer;
      background-color: $back-white;
      color: $text-gray;
      border: 1px solid gray;
      font-weight: bold;
    }

  }
  .search-lower{
    position: relative;
    margin-top: 20px;
    .tool-tip{
      width: 470px;
      margin: 0 auto;
      padding: 5px 8px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      background: $text-gray;
      border-radius: 8px;
    }
    .tool-tip:after {
      width: 100px;
      content: "";
      position: absolute;
      left: 350px;
      top: -8px;
      border-top:8px solid transparent;
      border-left:8px solid $text-gray;

    }
  }
}

.bottom {
  @include bottom();
}
