.post-show {
  background-color: $main-color;
  height: 100%;
  overflow: scroll;
  position: relative;
  padding-left: 50px;
  padding-top: 80px;

  &__box{
    &__top {
      display: flex;
      justify-content: space-between;
      padding: 0 50px;

      .post-title {
        padding-top: 50px;
        @include main-title ();
      }


      .post-info{
        display: flex;
        margin-top: 200px;

        &__name {

          .avatar {
            @include avatar();
          }

        }

        &__time {
          margin-top: 20px;
          margin-left: 20px;
        }

      }
    }

    &__middle {
      display: flex;
      justify-content: space-between;
      padding: 0 50px;
      margin-top: 20px;
      .post-box {
        display: flex;

        &__image{

          .image-tag {
            height: 150px;
            width: 150px;
            @include box-shadow ();
            &:hover {
                transform: scale(1.1);
                transition-duration: 0.3s;
            }
          }

        }

        &__text {
          margin-left: 35px;

          .text-title {
            @include title ();
            }

          .text-box {
            display: flex;
            align-items: center;

            &__content {
              padding: 5px;
              width: 600px;
              font-size: 25px;
              border-radius: 10px;
              border: 3px gray solid;  
              background-color: $back-white;
            }

            .delete-tweet {
              display: inline-block;
              color: $text-gray;
              border: 1px solid gray;
              border-radius: 30%;
              margin-left: 10px;    
              &:hover {
                color: $hover-color;
              }
            }

          }       
        }
        .only-text {
          .text-title {
            @include title ();
            }

          .text-box {
            display: flex;
            align-items: center;

            &__content {
              padding: 5px;
              width: 600px;
              font-size: 25px;
              border-radius: 10px;
              border: 3px gray solid;  
              background-color: $back-white;
            }

            .delete-tweet {
              display: inline-block;
              color: $text-gray;
              border: 1px solid gray;
              border-radius: 30%;
              margin-left: 10px;    
              &:hover {
                color: $hover-color;
              }
            }

          }
        }
      }
    }

    &__bottom {
      padding: 0 50px;
    }
  }
}
