.top {
  @include top();

  &__left {
    font-size: 30px;
    color: #000080;
    cursor: pointer;
  }

  .logout {
    @include logout();
    }

  #popup {
    display: none;
    border: $main-color 1px solid;
    border-radius: 100%;
    padding: 5px;
    font-size: 14px;
    background-color: $back-white;
    color:#2C7CFF;
    font-weight: bold;
    position: absolute;
    left: 160px;
  }

  .new-tweet {
    display: inline-block;
    position: absolute;
    left: 160px;
    top: 50px;
    font-size: 25px;
    
    a {
      color: $text-gray;
      &:hover {
        color:#2C7CFF ;
        font-size: 30px;
      }
    }

  }

  &__right {
    @include right-module ();
  }

}

.main {
  min-height: calc(100vh - 80px);
  height: 100%;
  background-color: $main-color;
  padding-top: 110px;
  position: relative;

  &__search {
    margin: 0 auto;
    height: 40px;
    width: 650px;
    border: 1px solid gray;
    font-size: 23px;
    font-weight: bold;
    background-color: $back-white;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    padding-left: 10px;
  }

  &__box {
    height: calc(100% - 70px);
    margin-top: 20px;
    display: flex;
    position: relative;

    .border {
      height: calc(100% - 30px);
      position: absolute;
      left: 50%;
      border-left: 3px black double;
      min-height: calc(100vh - 170px);
    }


    .left {
      height: 100%;
      background-color: $main-color;
      width: 50%;
      padding-top: 30px;

      .text-box {
        margin: 0 0 120px;
        position: relative;


        .text-title {
          margin-left: 40px;
          font-size: 25px;

          &__link {
            text-decoration: none;
            color: $link-gray;
            font-weight: bold;
          }

        }

        .text-info {
          display: flex;
          position: absolute;
          right: 40px;

          &__name {
            margin: 5px 10px;

            .avatar {
              @include avatar();
            }

          }

          &__time {
            margin: 5px 10px;

          }
        }

      }
    }

    .right {
      height: 100%;
      background-color: $main-color;
      width: 50%;
      padding-top: 30px;
      padding-left: 30px;
      margin-bottom: 50px;


      .image-box {
        margin: 0 0 70px;
        position: relative;

        .image-title {
          margin-left: 40px;
          font-size: 25px;

          &__link {
            text-decoration: none;
            color: $link-gray;
            font-weight: bold;
          }

        }

        .image-info {
          display: flex;
          position: absolute;
          right: 40px;

          &__name {
            margin: 0 10px;

            .avatar {
              @include avatar();
            }

          }

          &__time {
            margin: 5px 10px;

          }

        }
        
        .image-tag {
          display: inline-flex;
          width: 100px;
          margin-left: 80px;
          margin-top: 80px;

          &__image {
            height: 100px;
            width: 100px;
            margin-top: 30px;
            margin-left: 30px;
            border-radius: 10px;
            @include box-shadow ();
          }
          
        }
      }
    }
  }

  .bottom {
    @include bottom();
    }
    
}


