.post {
  height: calc(100vh - 80px);
  background-color: $main-color	;
  overflow: scroll;
  position: relative;
  padding-top: 80px;

  &__top {
    font-size: 40px;
    text-align: center;
    padding: 30px;
    margin-right: 50px;
  }

  &__upper {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 120px;

    .post-title {
      &__title {
        font-size: 30px;
        font-style: italic;
        text-decoration: underline;
      }

      #tweet_title{
        padding: 5px;
        border-radius: 10px;
        font-size: 25px;
        width: 100%;
      }

    }

    .post-text {

      &__text {
          font-size: 30px;
          font-style: italic;
          text-decoration: underline; 
      }
      
      #tweet_content {
        padding: 5px;
        width: 600px;
        font-size: 25px;
        border-radius: 10px;
        border: 3px gray solid;
      }

    }
  }

  &__lower {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 120px;
    margin-top: 80px;
    #post__image {

      .image-title {
          font-size: 30px;
          font-style: italic;
          text-decoration: underline;
      }

    }


    &__link {
      display: inline-block;
      height: 50px;

      .link {
        font-size: 30px;
        width: 200px;
        padding: 10px;
        border: 1px solid white;
        border-radius: 50px;
        cursor: pointer;
        margin-bottom: 30px;
        margin-right: 430px;
        margin: 80px 430px 30px 0;
        &:hover {
          @include btn-color ();
          @include btn-hover ();
        }     
      }

    }

    .back {
      position: absolute;
      top: 110px;
      right: 30px;
      @include back-module ();
    }

  }
  
}



