.header {
  height: 80px;
  width: 100%;
  background-color: #CCFF99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  position: fixed;
  z-index: 1;

  &__left {
    margin-left: 10px;

    .link {
      text-decoration: none;
      color: $link-gray;  
      margin-right: 10px;
      font-size: 20px;
      border: 2px solid $link-gray;
      border-radius: 10px;
      padding: 5px;
      &:hover {
        border: 2px solid black;
        border-radius: 10px;  
        color: black;
        @include btn-hover ();
        background-color: $back-white;
      }  

    }
  }

  .logout {
    @include logout();
  }
  
  &__right {
    @include right-module();
  }
  
}
