$main-color: #FFFAF0;
$back-white: white;
$text-white: white;
$text-gray: gray;
$link-gray:#555555;
$hover-color:#6A5ACD;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$green: green;
$light_gray: #999;
$black: #434a54;
$alert_orange: #FF9872;