.notification {
  .notice {
    background-color: $green;
    color: $text-white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $text-white;
    text-align: center;
  }
}