.like-link {
  text-decoration: none;

  .vertical_like {
    display: inline-block;
    margin-top:50px ;
    margin-left: 50px;
  
    .red-text {
      color: red;
    }

    .gray-text {
      color: $text-gray;
    }
    
  }
}
